// Breakpoints

$screen-xxxs-max: 280px;
// XXS
$screen-xxs-max: 320px;
// XS
$screen-xs-max: 520px;
// SM
$screen-sm-max: 768px;
// MD
$screen-md-max: 960px;
// LG
$screen-lg-max: 1024px;
// XL
$screen-xl-max: 1366px;


