$white: #fff;
$gray: rgba(33, 33, 33, 1);
$gray-2: rgba(81, 81, 81, 1);
$gray-3: rgba(130, 130, 130, 1);
$gray-4: rgba(189, 189, 189, 1);
$gray-5: rgba(224, 224, 224, 1);
$gray-6: rgb(242, 242, 242);
$dark: #16171b;
$dark-2: #202125;
$dark-3: #393a3e;
$dark-4: #4b4b4b;
$dark-blue: #0D7377;
$yellow: #f8ce46;
$yellow-2: #e4bb47;
$dark-yellow: #2b2a26;
$purple: #b987f3;
$error-color: #ff3333;

