/* IranYekan */

@font-face {
  font-family: iranYekan;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.eot');
  src: url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'), url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.woff2') format('woff2'), url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.woff') format('woff'), url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.ttf') format('truetype'), url('~/assets/css/fonts/IranYekan/IRANYekanWebRegular.svg') format('svg');
}

@font-face {
  font-family: iranYekan-bold;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/css/fonts/IranYekan/IRANYekanWebBold.eot');
  src: url('~/assets/css/fonts/IranYekan/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'), url('~/assets/css/fonts/IranYekan/IRANYekanWebBold.woff2') format('woff2'), url('~/assets/css/fonts/IranYekan/IRANYekanWebBold.woff') format('woff'), url('~/assets/css/fonts/IranYekan/IRANYekanWebBold.ttf') format('truetype'), url('~/assets/css/fonts/IranYekan/iranyekanwebbold.svg') format('svg');
}

@font-face {
  font-family: iranYekan-Number;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/css/fonts/IranYekan/iranyekanwebregularfanum.eot');
  src: url('~/assets/css/fonts/IranYekan/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), url('~/assets/css/fonts/IranYekan/iranyekanwebregularfanum.woff') format('woff'), url('~/assets/css/fonts/IranYekan/iranyekanwebregularfanum.ttf') format('truetype'), url('~/assets/css/fonts/IranYekan/iranyekanwebregularfanum.svg') format('svg');
}


/*!* IranSans *!*/

/*@font-face {*/
/*    font-family: iransans;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: url("~/assets/css/fonts/IranSans/IRANSansWeb.eot");*/
/*    src: url("~/assets/css/fonts/IranSans/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("~/assets/css/fonts/IranSans/IRANSansWeb.woff2") format("woff2"), url("~/assets/css/fonts/IranSans/IRANSansWeb_Bold.woff") format("woff"), url("~/assets/css/fonts/IranSans/IRANSansWeb_Light.ttf") format("truetype");*/
/*}*/
